 *{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	/*font-family:  Arial;
	color: #96a6a7;*/
}


a{
   text-decoration: none;
   font-family:  Arial;
   color: #96a6a7;
}
a:hover{
	color:#E94E38;
}
 
 body{
 	background: url(img/Bgnd.jpg) no-repeat 50% 0 #0e0e0e;
 	font:12px/1.29 sans-serif;
 }

 .wrapper{

 	width: 1280px;
 	margin: 0 auto;
 }


 header{
 	width: 100%;
 	background: #fff;
 	height: 74px;
 	border-radius: 7px 7px 0 0;
 	padding: 0;
 	margin: 0;
 }
 
 header ul li
 {
 	padding-left: 20px;
 	padding-top: 30px;
 	display: inline-block;
 }

 header h1{
 	
 	margin: 18px 0 0 40px;
 }
 header div
 {
 	height: 75px;
 	float: left;
 	display: inline-block;
 }

 .login{
 	background-color: #e94e38;
    margin-left: 0px;
	height: 75px;
	width:  313.2px;
	
 }
.search
{
	background-color: #e2dee0;
	height: 75px;
	width:  75px;
	margin-left: 53.5px;
}
 /*шапка готова*/
 /*второй блок*/

 .what
 {
   position: relative;
   box-shadow: inset;
    	width: 100%;
    	margin-left: -8px; 
    	
    	
    	
 }
 h2 {

position: absolute;
font:200% sans-serif;
color: #ffffff;
margin: auto;
margin-left: 650px;
top: 60px;
width: 478px;

 }
/*3 block3*/

.block3
{

background-color: white;
    position: relative;
    margin: -3px;
	height: 60px;
	width:  1280px;
	margin-left: 120px;
	
	

	


}
/*выпадающий спискок*/
.menu{
	position: absolute;
    left: 150px;
    top: 50px;
    right: 50px;
    
	width:  220px;/*dlina*/
    background-color: #56534e;
    margin: 45px;
    margin-left: 222px;
    height: 50px; /*visota*/
    left: 150px;
    top: 50px;
    right: 50px;
    margin-top: 128px;
}

.menu ul li{ /*настойка надписей в выпадающем табличке*/
display: inline-block;
margin-left: 3px;
}

.menu ul{    /* настройка надписи каунтри*/

position: absolute;
margin: 0px;
padding: 17px;
margin-left: 10px;
height: 5px;



}

.menu ul ul{ /* настройка выпадающего меню*/
    
	display: none;
	position: absolute;
	/*background-color: white;*/
	text-decoration:all;
	margin: 0px;
	margin-left: -18px;
    padding: 15px;



}

.menu li:hover
 ul{
	display: block;
}



/*Начало 4 блока*/
.block4
{


background-color: #f3f1f2;
    position: relative;
    margin: 0 auto;
	height: 1993px;
	width:  1280px;
	

}

.block5
{


background-color: yellow;
    position: relative;
    margin: 0 auto;
	height: 500px;
	width:  1280px;
	

}


 