html {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    height: 100vh;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
}

.header p {
    font-size: 1.2rem;
}

.header__navigation {
    height: 60px;
    background-color: #000000;
    font-size: 1.4rem;
}

.header__list {
    padding: 0;
    margin: 50px 20% 0 20%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__ref {
    color: #ffffff !important;
    text-decoration: none;
}

.main__image-wrapper {
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
}

.main__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2::before {
    content: "";
    background-image: url(images/newspaper.png);
    background-size: 20px 20px;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 7px;
}

.main__article {
    display: flex;
    justify-content: space-between;
}

.main__block {
    width: 30%;
}

.main__block:nth-child(2) {
    margin: 0 20px;
}

.main__block:last-child {
    width: 40%;
}

.main__image-wrapper--inner {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.main__image--inner {
    position: relative;
    left: -1046px;
    top: -610px;
}

.button {
    background-color: #000000;
    color: #ffffff;
    border: black 2px solid;
    border-radius: 3px;
    height: 30px;
}

.main__article p,
.main__article a {
    color: #303030;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.main__ref {
    display: block;
}

.main__item:not(:last-child) {
    border-bottom: 1px solid #9b9b9b;
}

.main__item {
    padding-bottom: 40px;
}

.main__list {
    padding: 0;
    list-style: none;
}

.main__list-item:not(:last-child) {
    border-bottom: 1px solid #9b9b9b;
}

.main__list-item {
    padding: 5px 0;
}

.footer {
    font-size: 1.1rem;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #9b9b9b;
}

.footer a {
    color: #303030;
}

@media all and (max-width: 1065px) {
    html {
        font-size: 8px;
    }
}

@media all and (max-width: 930px) {
    .main__article {
        flex-wrap: wrap;
    }

    .main__block {
        width: 45%;
        margin-left: 0;
    }

    .main__block:last-child {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media all and (max-width: 560px) {
    .main__block {
        width: 100%;
    }

    .main__block:nth-child(2) {
        margin: 0 0 20px 0;
    }

    .main__item {
        padding-bottom: 20px;
    }

    .main__image-wrapper {
        height: 150px;
    }

    .header__navigation {
        margin-top: -30px;
    }

    .header__list {
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
    }

    .header__list-item {
        width: 30%;
    }
}