h1{
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0 auto;
    max-width: max-content;
}
p{
    margin: 5px;
}
h1 span{
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
    color: rgb(255, 0, 0);
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 1200px;
}
header{
    width: 100%;
    order: 0;
    height: 53px;
}
aside{
    text-align: center;
    flex-grow: 1;
    margin: 5px;
    background-color: rgba(190, 216, 224, 0.315);
    border-radius: 5px;
    order: 2;
    font-family:  Helvetica, sans-serif;
    color: rgb(24, 24, 48);
}
main{
    font-family:  Helvetica, sans-serif;
    color: rgb(24, 24, 48);
    height: 750px;
    width: 80%;
    order: 1;
    margin: 5px 5px;
}
footer{
    order: 4;
    width: 100%;
}
input{
    display: none;
}
.name{
    font-weight: bold;
}
.image-block{
    margin: 5px;
    text-align: center;
    width: 160px;
    height: 110px;
    display: inline-block;
}
.cake__item img{
    max-width: 80%;
    max-height: 100%;
}
.cake__wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.cake__item{
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(190, 216, 224, 0.315);
    border-radius: 5px;
}
label{
    padding-top: 10px;
    font-family:  Helvetica, sans-serif;
    color: rgb(24, 24, 48);
    position: absolute;
    text-align: center;
    width: 200px;
    height: 20px;
    background-color: rgba(102, 217, 252, 0.315);
    border-radius: 5px;
}
.cake__item:hover{
    box-shadow: 2px 2px 5px black;
}
.cake__calories{
    width: 100%;
    border-top: 1px solid rgba(201, 201, 201, 0.658);
}
#cake:checked ~ main .cake__wrapper > div:not(.cake){
    display: none;
}
#brownie:checked ~ main .cake__wrapper > div:not(.brownie){
    display: none;
}
#cheese:checked ~ main .cake__wrapper > div:not(.cheese){
    display: none;
}
input[type='range']{
    display: inline-block;
}
label[for="cake"]{
    left: 992px;
    top: 210px;
}
label[for="brownie"]{
    left: 992px;
    top: 250px;
}
label[for="cheese"]{
    left: 992px;
    top: 290px;
}
label[for="none"]{
    left: 992px;
    top: 330px;
}
.contacts > *{
    display: inline;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
@media (max-width: 1200px){
    aside{
        display: none;
    }
    .cake__calories{
        display: none;
    }
    label{
        display: inline-block;
        position: static;
        margin: 5px;
        width: 23vw;
    }
    main{
        width: 100%;
    }
    .image-block{
        width: 100%;
    }
    .cake__item p{
        display: inline;
    }
    .contacts > *{
        display: block;
    }
}
@media (max-width: 730px){
    .cake__wrapper{
        grid-template-columns: 1fr;
    }
    main{
        overflow: auto;
    }
    .cake__item{
        height: 241px;
    }
    .image-block{
        height: 173px;
    }
    label{
        width: 47vw;
    }
    footer{
        display: block;
    }
}
@media (max-width: 600px){
    label{
        width: 100vw;
    }
}