body {
    margin: 0 auto;
    text-align: center;
}
table {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    text-align: center;
}

th {
    font-size: 18px;
    padding: 10px;
}

td {
    background: #F5D7BF;
    padding: 10px;
}

tr {
    border-bottom: 1px solid #000;
}

header {
    background-color: rgb(154, 240, 247);
    border-radius: 5px;
}

header h1 {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #2c005f;
    font-size: 45px;
}

header h2 {
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding-right: 10px;
}

header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    text-align: start;
}


.wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 70vh;

}

#block1 {
    margin-left: 75px;
}