.wrapper{
    border: 1px solid rgba(129, 129, 129, 0.253);
    font-family: Helvetica, sans-serif;
}
.wrapper > label img{
    height: 20px;
    margin: 5px 5px 0 5px;
}
.wrapper > label span{
    position: absolute;
    top: 16px;
}
.wrapper > label[for="switch2"]{
    margin-left:50px;
}
.wrapper > input:not(:checked) + label{
    opacity: 0.3;
}
.wrapper > input{
    display: none;
}
#switch2:checked ~ .items{
    width: auto;
    display: block;
    height: 250px;
}
#switch2:checked ~ .items .inline-elements{
    display: inline-block;
    vertical-align: top;
}
#switch2:checked ~ .items .picture{
    width: 200px;
    margin: 20px 34px 0 -66px;
}
#switch2:checked ~ .items .name{
    width: 200px;
    margin: 50px 124px 0 134px;
}
#switch2:checked ~ .items .title{
    width: 300px;
    margin-top: 50px;
    margin-right: -167px;
}
.items{
    text-align: center;
    margin: 5px;
    display: inline-block;
    width: 330px;
    height: 400px;
    border: 1px solid rgba(129, 129, 129, 0.253);    
    overflow: hidden;
}
.items:hover{
    box-shadow: 0 0 10px #000;    
}
.items p,a{
    text-align: left;
    margin: 10px 10px;
}
.items a{
    overflow: hidden;
    width: 250px;
    text-overflow: ellipsis ;
    white-space: nowrap;
    display: block;
}
.type{
    font-size: 13px;
    color: rgb(151, 151, 151);
}
.price{
    color: rgb(255, 0, 0);
}
.title{
    font-size: 14px;
}
.items img:hover{
    width: 220px;
}
.stars input{
    display: none;
}
.stars{
    float: left;
    margin-left: 10px;
}
.stars > label{
    float: right;
    width: 20px;
    height: 20px;
    background-image: url(image/greystar.png);
} 
.stars > label:hover ~ label{
    background-image: url(image/yellowstar.png);
}
.stars label:hover{
    background-image: url(image/yellowstar.png);
}
.stars input:checked ~ label{
    background-image: url(image/yellowstar.png);
}